{% load static %}
<html>
    <head>
        <title>Women Can Code-Desafio Python</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div>
        <ul>
          <li><a href="{% url 'home' %}">Início</a></li>
          <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
          <li><a href="{% url 'lista' %}">Lista</a></li>
        </ul>
      </div>
      {% block content %}
      {% endblock content %}
    </body>
</html>
